* {
  min-height: 39px;
}

html {
  margin: auto;
  padding: 15px;
  width: 726px;
  background-color: #d0f1d1;
  border: 4px solid #288f00;
}

.header {
  padding: 15px;
  display: flex;
  blackground-color: #badfeb;
  border: 4px solid #2b33ff;
}

.header-second {
  display: flex;
  padding: 3px;
  margin: 7px;
  flex: 1;
  blackground-color: #fde1c5;
  border: 4px solid #fb9585;
}

.header-third {
  flex: 1;
  blackground-color: #fccdd5;
  border: 4px solid #f92400;
}

.footer {
  padding: 7px;
  display: flex;
  background-color: #badfeb;
  border: 4px solid #2b33ff;
}

.footer-outer {
  flex: 2;
  background-color: #e8e5ff;
  border: 4px solid #7e73d7;
}

.footer-inner {
  flex: 1;
  background-color: #fde1c5;
  border: 4px solid #fb9585;
}
