* {
  font-family: roboto;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header, .footer {
  height: 48px;
  flex: 0 0 auto;
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.intro {
  width: 100%;
  display: flex;
  align-items:center;
  background-color: #1F2937;
}

.intro > .left, .intro > .right {
  flex: 1;
}

.intro > .left > h2 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.intro > .left > p {
  font-size: 18px;
  color: #E5E7EB;
}

.intro > .left > button {
  background-color: #3882F6;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 8px;
  padding: 8px 24px;
}

.intro > .right {
  height: 200px;
  background-color: #808790;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

ul {
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #E5E7EB;
  list-style-type: none;
  padding: 0;
}
