* {
  font-style: robot;
}

.body {
  display: flex;
  flex-direction: column;
}

.header, .footer {
  height: 48px;
  flex: 0 0 auto;
  background-color: #1F2937;
}

.main {
  felx: 1;
}

.footer {
  color: #fff;
}
